.blog {
    &__article {
      max-width: 1000px;
      position: relative;
    }

    &__image img {
        width: 100%;
    }

    &__info {
        margin-top: 10px;
    }

    @include media-breakpoint-up(md) {
		&__info {
            margin-top: 0;
        }
	}
}