body.nav-active {
    .page {
        transform: translateX(-250px);
    }
}

.page {
    transition: transform .15s cubic-bezier(.2, .3, .25, .9);
    transform: translateX(0);
    @include media-breakpoint-up(sm) {
        transform: translateX(0) !important;
    }
}
.uppercase{
    text-transform: uppercase;
}
.header {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    &__text {
        display: block
    }
    &__svg {
        padding-right: 10px;
        max-width: 60px;
    }
    &__svg svg {
        storke: #fff;
    }
}