body.nav-active {
    .page {
        transform: translateX(-250px);
    }
}

.page {
    transition: transform .15s cubic-bezier(.2, .3, .25, .9);
    margin-top: 100px;
}

.uppercase{
    text-transform: uppercase;
}

.sp-header {
    width: 400px;
    margin: auto;
    display: block;
    padding: 22px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding-right: 10px;
    min-height: 50px;
    &__text {
        font-family: 'Playfair Display', serif;
        font-size: 1.1em;
    }
    &__svg {
        padding-right: 5px;
        max-width: 45px;
    }
}