body.nav-active {
    .page {
        transform: translateX(-250px);
    }
}

.page {
    transition: transform .15s cubic-bezier(.2, .3, .25, .9);
    transform: translateX(0);
    @include media-breakpoint-up(sm) {
        transform: translateX(0) !important;
    }
}

.uppercase{
    text-transform: uppercase;
}

.header {
    display: flex;
    align-items: center;
}

.sp-header {
    width: 400px;
    margin: auto;
    display: block;
    padding: 22px;
    text-align: center;
	background-color: scheme(1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding-right: 10px;
    min-height: 50px;
    &__text {
        display: block
    }
    &__svg {
        padding-right: 10px;
        max-width: 60px;
        height: 60px;
    }
    &__svg svg {
        storke: #fff;
    }
}