h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin-bottom: 0;
}

h1 {
	line-height: 1.2;
	padding-bottom: 1rem;
	max-width: 400px;
	@include font_size(xl, false, .6);

	@include media-breakpoint-down(sm) {
		@include font_size(lg, false, 1.5);
	}
}

.heading-border {
	display: block;
	padding-top: 25px;	 
	width: 77px;
	border-bottom: 2px solid $black;
}


h2 {
	@include font_size(lg);

	@include media-breakpoint-down(lg) {
		@include font_size(lg, false, .8);
	}

	@include media-breakpoint-down(md) {
		@include font_size(lg, false, .6);
	}

	@include media-breakpoint-down(sm) {
		@include font_size(md);
	}
}