<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">

		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	</head>
	<body>
		{{>mobile-nav}}
		<div class="page">
			{{>header}}
			{{>@partial-block}}
			{{>footer}}
		</div>
		<script src="/assets/js/main.js"></script>
	</body>
	
</html>
