<footer>
	<footer class="panel color_4 dark text_center" style="background-color: {{footer_background_color}}">
		<div class="panel_body">
			<div class="credits">{{footer_text}}</div>
			<div class="wedge-2x"></div>
			<a href="http://www.endurojs.com/" target="_blank"></a>
		</div>
	</footer>
</footer>