<header class="header">
    <div class="header__wrapper">
        <a href="/" class="logo">
            <img class="logo__svg" src="{{global.logo_src}}" alt="logo"></img>
            <span class="logo__text">
                <span>Authentic</span> 
                <span class="logo__flipper-wrap">
                    <span class="logo__flipper">Yoga</span>
                    <span class="logo__flipper-back">Yoga</span>
                </span>
            </span>
        </a>
        {{>nav}}
    </div>
</header>