<header class="header">
    <div class="header__wrapper">
        <a href="/" class="logo">
            <img class="logo__svg" src="{{global.logo_src}}" alt="logo"></img>
            <span class="logo__text">
                Authentic
                <strong>Yoga</strong>
            </span>
        </a>
        {{>nav}}
    </div>
</header>