<div class="panel banner" style="background-image: url('{{main_image}}')">
	<div class="veil"></div>
	<div class="panel_body">
		<header class="header">
			<a href="/" class="logo">
				<span class="uppercase">Autentich <strong>Yoga</strong></span>
				<object class="logo__svg" type="image/svg+xml" data="{{global.logo_src}}">Your browser does not support SVGs</object>
			</a>
			{{>nav}}
		</header>
	</div>
</div>