<nav class="mobile-nav">

    <div class="mobile-nav__list">
        <a class="mobile-nav__link" href="/">{{global.link1}}</a>
        <a class="mobile-nav__link" href="/about">{{global.link2}}</a>
        <a class="mobile-nav__link" href="/contact">{{global.link3}}</a>
        <a class="mobile-nav__link" href="/blog">{{global.link4}}</a>
    </div>

</nav>