<nav class="mobile-nav">

    <div class="mobile-nav__list">
        <a class="mobile-nav__link" href="/">Hjem</a>
        <a class="mobile-nav__link" href="/about">Om oss</a>
        <a class="mobile-nav__link" href="/contact">Kontakt</a>
    </div>

</nav>