<nav class="mobile-nav">

    <div class="mobile-nav__list">
        <a class="mobile-nav__link" href="/about">{{global.link2}}</a>
        <a class="mobile-nav__link" href="/news">{{global.link3}}</a>
        <a class="mobile-nav__link" href="/blogs">{{global.link4}}</a>
    </div>

</nav>