<nav class="nav">

    <button class="hamburger js-hamburger hamburger--collapse" type="button">
        <span>{{global.menu_text}}</span>
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="nav__list">
        <a class="nav__link" href="/about">{{global.link2}}</a>
        <a class="nav__link" href="/contact">{{global.link3}}</a>
        <a class="nav__link" href="/blogs">{{global.link4}}</a>
    </div>

</nav>