<nav class="nav">
    <div class="nav__list">
        <a class="nav__link" href="/">Hjem</a>
        <a class="nav__link" href="/about">Om oss</a>
        <a class="nav__link" href="/contact">Kontakt</a>
    </div>
</nav>