$hamburger-types: (collapse);
$hamburger-layer-width: 35px;
@import '../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';
.nav {
    max-width: 1280px;
    color: $black;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: auto;
    &__list {
        display: none;
    }
    &__link {
        margin-left: 8px;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
        border-bottom: 2px solid transparent;
        flex: 0 0 auto;
        &:hover {
            border-bottom: 2px solid $white;
        }
        &:hover:after {
            color: $green;
        }
        &:after {
            content: '/';
            padding-left: 8px;
        }
    }
    .hamburger {
        outline: none;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .hamburger-box {
        margin-left: 10px;
    }
    .hamburger .hamburger-inner {
        display: block;
        background-color: $black;
        &:before,
        &:after {
            background-color: $black;
        }
    }
    @include media-breakpoint-up(sm) {
        &__list {
            display: flex;
        }
        .hamburger {
            display: none;
        }
    }
}