.panel_body {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    z-index: 1;
    &.fullwidth {
        max-width: none;
        padding: 0;
    }
    &.no-padding-top {
        padding-top: 0;
    }
    @include media-breakpoint-up(sm) {
        padding: 40px;
    }
}