{{#> body}}

<div class="panel">
	<div class="panel_body">
		<div class="row">
			<div class="col-md-12 ">
				<h1>{{name}}</h1>
				<h2>{{specialty}}</h2>
				<p>{{background}}</p>
			</div>
		</div>
	</div>
</div>

{{/body}}