
// basics

$scheme-colors: (#fff, #373a3c, #fafdff) !default;

@function scheme($color) {
	@return nth($scheme-colors, $color)
};

// colors
$blue-wgag: #0f7e9b;
$blue-light: #92d7ef;
$green: #a2eae0;
$grey-light: #e4e0dc;
$red-light: #f9acbb;
$shadow: #dcdcdc;

$white: scheme(1);
$black: scheme(2);
